<h1><%= @user.name %>さんの面接一覧</h1>
<% if @user.interviews.count == 0 %>
  <p>面接日程が登録されていません。</p>
<% else %>
  <div>
    <h2>現在の面接日程</h2>
    <p>
      <strong><%= Interview.approved.find_by(user_id: @user.id)&.candidate&.to_s(:datetime) %></strong>
      に面接が設定されています。
    </p>
  </div>
  <hr>
  <p>面接日程を変更する場合は以下から選んでください。</p>
  <ul class="sw-List_plane">
    <% @interviews.each do |interview| %>
      <li class="sw-mt10">
        <%= form_for([@user, interview]) do |f| %>
          <%= f.submit(interview.candidate.to_s(:datetime),
          data: { confirm: interview.candidate.to_s(:datetime)+'で面接を確定していいですか？' }, class: "btn btn-default btn-block") %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<ul class="sw-List_plane">
  <li><%= link_to '戻る', root_path %></li>
</ul>
