<p id="notice"><%= notice %></p>
<p>
  <strong>面接日程:</strong>
  <%= @interview.candidate %>
</p>
<p>
  <strong>承認状態:</strong>
  <%= @interview.approval %>
</p>
<%= link_to '編集する', edit_interview_path(@interview) %> |
<%= link_to '戻る', root_path %>
