<h1>ユーザー一覧</h1>
<p>※一覧は後半で作成するため表示内容は仮です。</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>名前</th>
      <th>Email</th>
      <th>年齢</th>
      <th>性別</th>
      <th>学校名</th>
      <th>面接日時</th>
      <th>面接一覧</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
    <% if user.birthday? %>
      <%= (Time.zone.now.year) - (user.birthday.year) %>才
    <% elsif %>
      誕生日を登録してください。
    <% end %>
    </td>
    <td><%= user.sex %></td>
    <td><%= user.school %></td>
    <td><%= Interview.find(user.id).candidate %></td>
    <td>※面接一覧へのリンクが入ります※</td>
  </tr>
  <% end %>
</table>
