<h1>ユーザー一覧</h1>
<p>※一覧は後半で作成するため表示内容は仮です。</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>名前</th>
      <th>Email</th>
      <th>年齢</th>
      <th>性別</th>
      <th>学校名</th>
      <th>面接日時</th>
      <th>面接一覧</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
    <% if user.birthday? %>
      <%= (Time.zone.now.year) - (user.birthday.year) %>才
    <% elsif %>
      生年月日が未登録です。
    <% end %>
    </td>
    <td>
    <% if user.sex? %>
      <%= t "enum.sex.#{user.sex}" %>
    <% elsif %>
      性別が未登録です。
    <% end %>
    </td>
    <td><%= user.school %></td>
    <td><%= Interview.where(approval: '承認').find_by(user_id: user.id).candidate.strftime("%Y年%m月%d日 %H時%M分") rescue nil %></td>
    <td class="text-center"><a href="#" class="btn btn-primary">面接一覧</a></td>
  </tr>
  <% end %>
</table>
